body {
  background-image: url("https://wallpapercave.com/wp/963aENk.jpg");
}

h4 {
  font-family: 'Architects Daughter', cursive;
  color: #e8ffff;
}

h2 {
  color: #41444b;
  font-family: 'Architects Daughter', cursive;
}

h5:hover {
  color: #495464;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Merriweather', serif;
  position: relative;
  left: 50px;
}

.Middle {
  position: absolute;
  top: 125px;
  right: 75px;
}

.col {
  position: absolute;
  top: 50px;
}

.sun {
  position: absolute;
  top: 150px;
  left: 450px;
  width: 100px;
}

.Footer {
  position: absolute;
  bottom: 35px;
  left: 660px;
}

.social {
  margin: 20px 35px;
}

.fore {
  position: absolute;
  top: 70px;
  right: 100px;
}

p {
  position: absolute;
  bottom: 5px;
  left: 725px;
}
